@{
    ViewData["Title"] = "Home";
}
@model List<Presentation_MVC.Models.PostViewModel> 
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach(PostViewModel post in Model)
    {
        @post.Name
    }
</div>
