@model ErrorViewModel
@{
    ViewData["Title"] = $"Error: {Model.ErrorMessage}";
}
<h1 style="color: darkred;">Uh-oh!</h1>
<h3 style="margin-bottom: -5px;" class="text-danger">An error seems to have occured.</h3>
<i>Error code @Model.ErrorCode</i>
<p class="text-danger">@Model.ErrorMessage</p>
