@{
    ViewData["Title"] = "Select Category";
}
@model List<Presentation_MVC.Models.CategoryViewModel>
    
<div>
    <h1>Select a category for your post.</h1>
    <h1>@ViewBag.Error</h1>
    <div class="categories">
    @foreach (CategoryViewModel category in Model)
    {
        <div class="category">
            <a asp-controller="Post" asp-action="Create" asp-route-categoryId="@category.ID">
                <input type="button" value="@category.Name"/>
            </a>
        </div>
    }
    </div>
</div>

